@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;
}
.container {
    padding: 50px 30px;
}

.principal {
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.conteudo {
    margin-top: 30px;
}
.titulo {
    font-weight: bolder;
    font-size: 2rem;
    max-width: 15ch;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.palavra {
    color: hsl(277, 64%, 61%);
}
.texto {
    max-width: 25ch;
    font-family: 'Outfit', sans-serif;
    color: #9f9c9c;
    margin-top: 25px;
    text-align: center;
    margin-left: 25px;
    font-size: 1.2rem;
}
.container-dados {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.sub-dados {
    color: #9f9c9c;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.foto img {
    max-width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-width: 1000px) {
    .principal {
        margin: 0 auto;
    }
    .conteudo {
        margin-left: 150px;
    }
}
@media (max-width: 850px) {
    .conteudo {
       margin-left: 150px;
    }
}
@media (max-width: 500px) {
    .conteudo {
        margin: 30px auto;
    }
}
